<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
    <context-param>
        <param-name>test</param-name>
        <param-value>1234</param-value>
    </context-param>

  <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

  <!-- Session listener -->
<!-- 
  <listener>
    <listener-class>org.apache.ace.server.SessionListener</listener-class>
  </listener>
-->
  
  <!-- Servlets -->
 
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>cz.zcu.kiv.crce.webui.internal.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>cz.zcu.kiv.crce.webui.internal.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>
    
</web-app>
