/* CSS Document */

body {
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}

img {
  border: 0;
}

a {
  color: #666;
}

a:hover {
  color: #BBB;
}

h2 {
  color: #444;
  padding: 10px 10px 0 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.konec {
  clear: both;
  width: 0;
  visibility: hidden;
  height: 0;
  font-size: 0;
  display: block;
}

#stranka {
  width: 902px;
  margin: 0 auto;
  border: 1px solid #AAA;
}

/*--------------------HLAVICKA----------------------------------------*/
#hlavicka {
  /*border: 1px solid black;*/
  width: 100%;
  text-align: left;
}

#hlavicka .logo_img {
  float: left;
  width: 600px;
  color: red;
  /*border: 1px solid black;*/
  margin: 10px 0px 0px 12px;
}

#hlavicka .nazev {
  float: left;
  width: 600px;
  color: #666;
  font-weight: bold;
  font-size: 1.6em;
  /*border: 1px solid black;*/
  margin: 5px 0px 5px 12px;
}

#hlavicka .vyhledavani {
  float: right;
  width: 250px;
  text-align: right;
  /*border: 1px solid black;*/
  margin: 10px 15px 0 0;
}

#hlavicka .vyhledavani .text{
  width: 150px;
  color: #222;
  background-color: #EEE;
  border: 1px solid #AAA;
}

#hlavicka .vyhledavani .tlacitko{
  width: 55px;
  background-color: #666;
  border: 1px solid #AAA;
  color: #FFF; 
  font-weight: bold;
}

#hlavicka .vyhledavani .tlacitko:hover {
  color: #222;
  background-color: #BBB;
  border: 1px solid #AAA;
}

/*--------------------MENU----------------------------------------*/
#menu {
  background-color: #AAA;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

#menu li {
  float: left;
  display: inline;
  list-style-type: none;
  text-align: center;
}

#menu li a {
  text-decoration: none;
  color: #222;
  float: left;
  display: inline;
  padding: 3px 20px;
  font-weight: bold;
  font-size: 1.1em;
  border-right: 2px solid #444;
}

#menu li a:hover {
  color: #EEE;
}
#menu li a.aktivni {
  color: #FFF;
}

/* Vycisteni menu */
.vycisteni:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ' ';
}

.vycisteni {min-height: 1px;}
.vycisteni {display: inline-block;}

/* Backslash hack - nemel by to videt IE/Mac \*/
.vycisteni {display: block;}
/* Konec hacku */

/*--------------------TELO----------------------------------------*/
#telo {
  width: 100%;
  padding-top: 10px;
  text-align: left;
  margin: 0 auto;
  /*border: 1px solid black;*/
  background-color: #EEE;
}

.pridat {
  width: 880px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.komponenta {
  width: 880px;
  margin: 0 auto;
  border: 1px solid #AAA;
  overflow: hidden;
}

.komponenta .nadpis {
  /*border: 1px solid black;*/
  background-color: #CCC;
  padding: 1px 10px 1px 10px;
}

.komponenta .nadpis .popis {
  width: 740px;
  float: left;
  /*padding: 0 0 0 10px;*/
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #222;
  /*border: 1px solid black;*/
}

.komponenta .nadpis:hover {
  background-color: #777;
}

.komponenta .nadpis .popis .sName {
  color: black;
}

.komponenta .nadpis .popis .version {
  color: red;
}

.komponenta .nadpis .popis .pName {
  color: green;
}

.komponenta .nadpis .popis .category {
  color: blue;
}

.komponenta .nadpis .nabidka {
  float: right;
  text-align: right;
  /*padding: 0 10px 0 0;*/
  /*border: 1px solid black;*/
  width: 120px;
}

.komponenta .informace {
  /*border: 1px solid black;*/
  background-color: #EEE;
  padding: 5px 10px 5px 10px;
}

/*--------------------POSKYTUJE-------------------------*/

.komponenta .poskytuje {
	width: 100%;
}

.komponenta .poskytuje .jmeno {
	
}

.komponenta .poskytuje .typ {
	width: 90px;
}

.komponenta .poskytuje .hodnota {
	max-width: 580px;
	width: 580px;
}

/*-------------------------VYZADUJE------------------------------*/
.komponenta .vyzaduje {
	width: 830px;
	margin: 0 auto;	
}

.komponenta .vyzaduje th {
	text-align: left;
}

.komponenta .vyzaduje .filter {
	width: 600px;
}

#animacni_odkazy {
  width: 880px;
  margin: 0 auto;
  font-size: 0.8em;
  padding-top: 5px;
  text-align: right;
}

/*--------------------PATICKA----------------------------------------*/
#paticka {
  padding-top: 10px;
  width: 100%;
  font-size: 0.6em;
  /*border: 1px solid black;*/
  background-color: #EEE;
  color: #333;
}

/*-------------TLACITKO----------------------------------------------*/

.tlacitko {
  text-align: center;
  background-color: #666;
  border: 1px solid #AAA;
  color: #FFF; 
  font-weight: bold;
}

.tlacitko:hover {
  color: #222;
  background-color: #BBB;
}

/*----------------UPLOAD---------------------------------------------*/

.upload {
	padding: 5px;
	width: 880px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #999;
}

.upload td {
	text-align: left;
	width: 100%;
}

.upload .text {
  width: 95%;
  color: #222;
  background-color: #FFF;
  border: 1px solid #AAA;
}

.upload .tlacitko {
	width: 200px;
	font-size: 1.1em;
}
/*--------------------FORMULAR----------------------------------------*/

.formular {
  padding: 10px;
}

.formular th {
  font-weight: bold;
}

.formular td {
  text-align: center;
  margin: 0 auto;
}

.formular .text{
  width: 500px;
  color: #222;
  background-color: #FFF;
  border: 1px solid #AAA;
}

.formular .chyba{
  color: red;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
	

.formular .tlacitko {
	margin: 10px 0 0 0;
}

/*-----------------EXECUTE_COMMIT-------------------------*/

.execute_commit .tlacitko {
	margin: 0 0 10px 10px;
}