<?xml version="1.0" encoding="UTF-8"?>
<!--Set status to debug to see if log4j2 is working correctly-->
<Configuration status="debug">
    <!--Remove monitorInterval if you never configure logging at runtime-->
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %msg%n
                    <!--[LogLevel] Time [Thread] LoggerName Message NewLine-->
                </pattern>
            </PatternLayout>
        </Console>
        <RandomAccessFile name="RandomAccessFileAppenderDebug" fileName="Logs/DebugLog.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>
                    %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="RandomAccessFileAppenderDebugEndpoints" fileName="Logs/EndpointsDebugLog.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>
                    %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="RandomAccessFileAppenderDebugProcessor" fileName="Logs/ProcessorError.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>
                    %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <TextPaneAppender name="VisualAppender">
            <PatternLayout>
                <pattern>%msg%n</pattern>
            </PatternLayout>
        </TextPaneAppender>
    </Appenders>
    <Loggers>
        <!--The default log level is trace that means if you don't explicitly set the level on the AppenderRef it will log -->
        <!--The default log level is trace | includeLocation is set false because it decreases performance-->
        <Logger name="endpoints" level="info" additivity="false">
            <AppenderRef ref="RandomAccessFileAppenderDebugEndpoints" />
            <AppenderRef ref="ConsoleAppender" level="debug" />
        </Logger>
        <Logger name="extractor" level="debug" additivity="false">
            <AppenderRef ref="RandomAccessFileAppenderDebug" />
            <AppenderRef ref="ConsoleAppender" level="debug" />
        </Logger>
        <Logger name="processor" level="error" additivity="false">
            <AppenderRef ref="RandomAccessFileAppenderDebugProcessor" />
            <AppenderRef ref="ConsoleAppender" level="debug" />
        </Logger>
    </Loggers>
</Configuration>