<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cz.zcu.kiv.crce.metadata.dao.internal.mapper.RepositoryMapper">

    <!-- Repository -->
    <select id="selectRepositoryByUri" parameterType="String" resultType="cz.zcu.kiv.crce.metadata.dao.internal.db.DbRepository">
        SELECT repository_id, uri
        FROM repository
        WHERE uri = #{uri}
    </select>
    <select id="selectRepositoryByRepositoryId" parameterType="Long" resultType="cz.zcu.kiv.crce.metadata.dao.internal.db.DbRepository">
        SELECT repository_id, uri
        FROM repository
        WHERE repository_id = #{repositoryId}
    </select>

    <select id="selectRepositoryId" parameterType="String" resultType="Long">
        SELECT repository_id
        FROM repository
        WHERE uri = #{uri}
    </select>

    <insert id="insertRepository" parameterType="cz.zcu.kiv.crce.metadata.dao.internal.db.DbRepository">
        insert into repository (repository_id, uri) values (
          #{repositoryId}, #{uri}
        )
    </insert>

    <delete id="deleteRepository" parameterType="String">
        DELETE FROM repository
        WHERE uri = #{uri}
    </delete>

</mapper>